.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  height: 100vh;
  padding: 3em;
  color: #fff;
}

section:nth-of-type(1) {
  background: red;
}

section:nth-of-type(2) {
  background: green;
}

section:nth-of-type(3) {
  background: blue;
}

a {
  display: inline-block;
  margin: 2em 0;
  padding: 0 2em;
}

.selected {
  color: purple;
  font-weight: 900;
}
